<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>fast.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>fast.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n</Pattern>
        </encoder>
    </appender>
    <logger name="org.springboot.sample" level="TRACE" />
    <!-- 开发、测试环境 -->
    <springProfile name="dev,prod">
        <logger name="com.zhanghe" level="DEBUG">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="pro">
        <logger name="com.zhanghe" level="INFO">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>

</configuration>